*{
    box-sizing: border-box;
    margin: 0;    
}

body {
    background: url(bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    margin: 20px auto;
    width: 1280px;
    height: 2000px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    box-shadow: 10px 5px 5px rgb(235, 233, 233);
}